#cont {
    background-color:rgba(25, 25, 25, 0.5);
    margin: 20px;
}

.container1 {
    width: 500px;
}

.container1 p {
    padding: 20px 20px;
    line-height: 125%;
}

.container3 {
    width:300px;
    height:400px;
    overflow-y:hidden;
}


.container3 p {
    padding:5px 20px;
}

.container4 p {
    padding: 0px 5px;
    text-align: justify;
    letter-spacing: 5px;
    margin: 0px;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
}
p#top{
    padding-top:5px;
    border-top: 2px solid blue;
}
p#bot{
    padding-bottom:5px;
    border-bottom: 2px solid blue;
}


.container1, .container2{
    float:left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
