#cont {
    background-color:rgba(25, 25, 25, 0.5);
    margin: 20px;
}

.container1 {
    width: 500px;
}

.container1 p {
    padding: 20px 20px;
    line-height: 125%;
}

.container3 {
    width:300px;
    height:400px;
    overflow-y:hidden;
}

.container3 p {
    padding:5px 20px;
}

.container4{
}

.container4 mapa {
    font-size:20px;
    display: block;
}

mapa p {
    display:inline;
    padding:0px 10px;
}

.container1, .container2{
    float:left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
