table {
    border: 1px solid gray;
    margin-bottom: 30px;
}

th, td, caption {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

caption {
    background-color: #F2691E;
    font-weight: bold;
}

th {
    background-color: #D2691E;
}

td {
    background-color: #FFDEAD;
}

a:hover {
    color: #CD853F;
}

a:visited {
    color:#FF4500;
}